@import "../Variables/Variables.scss";
body {
  --font-circle-1: arial, serif;
  --font-weight-circle-1: 400;
}

.circumference {
  display: flex;
  justify-content: center;
  align-items: center;
  --outer-circle-diameter: 150px;
  width: var(
    --outer-circle-diameter
  ); /* Set the diameter of the outer circle */
  height: var(
    --outer-circle-diameter
  ); /* Same as the width to make it a circle */
  border-radius: 50%; /* This makes the div a circle */
  //background-color: $color-darkGreen; /* Choose a color for the circle */
  position: relative; /* Adjust as needed based on your layout */
  //border: solid 2px $color-darkGreen;
}

.circles {
  pointer-events: none;
  //position: fixed;
  --dim: 100%;
  width: var(--dim);
  height: var(--dim);
  top: 0;
  //   left: 35%;
}

.demo-3 .circles {
  --dim: 156vmin;
}

.circles__text {
  text-transform: uppercase;
  //transform-origin: 700px 700px;
  will-change: transform, opacity;
}

.circles__text--1 {
  font-size: 110px;
  font-family: var(--font-circle-1);
  font-weight: 600;
  fill: $color-darkGreen;
}

@include breakpoint-md {
  .circles__text--1 {
    font-weight: 400;
  }
}

img {
  cursor: pointer;
}

.circle {
  position: relative;
  border-radius: 50%;
  border: 1.5px $color-black solid;
  background-color: $color-brightGreen;
  width: 70px;
  height: 70px;
  padding: 0.8rem;
  z-index: 99;
}

.ball {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Centers the SVG */
  /* ... other styles ... */
}

/////// CLIENT MENU

.circumf {
  display: flex;
  justify-content: center;
  align-items: center;
  --outer-circle-diameter: 120px;
  width: var(
    --outer-circle-diameter
  ); /* Set the diameter of the outer circle */
  height: var(
    --outer-circle-diameter
  ); /* Same as the width to make it a circle */
  border-radius: 50%; /* This makes the div a circle */
  //background-color: $color-darkGreen; /* Choose a color for the circle */
  position: relative; /* Adjust as needed based on your layout */
  //border: solid 2px $color-darkGreen;
}

.text {
  z-index: 99;
  pointer-events: none;
  //position: fixed;
  --dim: 85%;
  width: var(--dim);
  height: var(--dim);
  top: 0;
  //   left: 35%;
}

.circles__font--1 {
  font-size: 180px;
  font-family: var(--font-circle-1);
  font-weight: 100;
  fill: $color-darkGreen;
}

.outer-circumference {
  border-radius: 50%;
  // border: 1.5px $color-black solid;
  background-color: $color-brightGreen;
  width: 90px;
  height: 90px;
  padding: 1.6rem;
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Centers the SVG */
}
