@import "../Variables/Variables.scss";

.court {
  background-color: $color-darkGreen;
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
  border-radius: 32px;
  position: relative;

  @include breakpoint-md {
    .court {
      min-height: 740px;
    }
  }

  .line {
    opacity: 10%;
    pointer-events: none;
  }

  .div1 {
    grid-area: 1 / 1 / 4 / 14;
    border: 0.1px $color-cream solid;
  }
  .div2 {
    grid-area: 1 / 14 / 4 / 27;
    border: 0.1px $color-cream solid;
  }
  .div3 {
    grid-area: 4 / 1 / 22 / 7;
    border-left: 0.1px $color-cream solid;
    border-right: 0.1px $color-cream solid;
  }
  .div4 {
    grid-area: 4 / 7 / 13 / 14;
    border-right: 0.1px $color-cream solid;
    border-bottom: 0.1px $color-cream solid;
  }
  .div5 {
    grid-area: 13 / 7 / 22 / 14;
    border-right: 0.1px $color-cream solid;
  }
  .div6 {
    grid-area: 4 / 14 / 13 / 21;
    border-bottom: 0.1px $color-cream solid;
  }
  .div7 {
    grid-area: 13 / 14 / 22 / 21;
  }
  .div8 {
    grid-area: 4 / 21 / 22 / 27;
    border-left: 0.1px $color-cream solid;
    border-right: 0.1px $color-cream solid;
  }
  .div9 {
    grid-area: 22 / 1 / 25 / 14;
    border: 0.1px $color-cream solid;
  }
  .div10 {
    grid-area: 22 / 14 / 25 / 27;
    border: 0.1px $color-cream solid;
  }
}

.details {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  //height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  // width: 96%;
  // max-width: 1020px;
  padding: 15% 2% 20%;
  text-align: center;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .title {
      pointer-events: none;
      font-size: 2.5rem;
      font-size: clamp(2.25rem, 8.75vw, 5rem);
      font-weight: 900;
      line-height: 110%;
      padding: 0 2%;
    }

    @include breakpoint-md {
      .title {
        padding: 0 4%;
      }
    }

    .subtitle {
      pointer-events: none;
      font-size: 24px;
      font-weight: 600;
      line-height: 120%;
      padding: 0 8%;
    }

    .buttons-container {
      display: flex;
      padding-top: 1rem;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 59px;
        width: auto;
        text-align: center;
        border-radius: 13px;
        padding: 0.75rem 1.5rem;
        font-size: 18px;
        font-weight: 600;
        line-height: 100%;
        background-color: $color-darkGreen;
        color: white;
      }

      .accent {
        background-color: $color-brightGreen;
        color: $color-darkGreen;
      }
    }
  }
}

@include breakpoint-md {
  .details {
    padding: 10% 6%;
    gap: 2rem;
  }
}
