@import "../Variables/Variables.scss";

#events-section {
  padding-top: $base-padding2X;
  @include flex-col;

  .event-container {
    ul {
      @include flex-col(0.5rem);
    }
  }
}

//LEAGUE ENTRY
#current-leagues-data {
  > ul {
    @include flex-col($base-padding2X);

    .text-highlight {
      @include flex-row($base-padding);
      padding: 0.05rem;
    }

    .league-single-entry {
      @include cardStyle;
      background-color: white;
      padding: 2.25rem 1rem 3.5rem;

      .league-info {
        @include flex-row(0px);
        justify-content: space-between;
        padding: 0 0.5rem;
        align-items: flex-start;

        //border-bottom: solid $base-border-thickness $color-grey;

        .league-title {
          @include flex-row($base-padding2X);
          h3 {
            font-size: 1.8rem;
            font-weight: 800;
            line-height: 98%;
          }
        }

        .league-dates {
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 600;
          display: flex;
          @include flex-col(5px);
          p {
            font-size: 0.9rem;
            font-weight: 200;
          }
        }

        .days-left {
          font-size: 0.9rem;
          border-radius: $base-border-radius;
          font-weight: bold;
          color: white;
          padding: $base-padding 1rem;
          background-color: $color-darkGreen;
          max-width: 110px;
        }

        @include breakpoint-md {
          .days-left {
            padding: $base-padding $base-padding2X;
            max-width: 100%;
          }
        }

        .league-stats {
          width: 50%;
          @include flex-row($base-padding);
          justify-content: right;
          margin-top: $base-margin;
          padding: 0.25rem;
          text-align: right;
        }

        @include breakpoint-md {
          p {
            font-size: $base-font-size;
          }
        }
      }
    }

    @include breakpoint-md {
      .league-single-entry {
        padding: 2.25rem 2.25rem 4.5rem;

        .league-info {
          padding: 0 $base-padding;
        }
      }
    }
  }
}

//////////////

#leagues-layout-header {
  display: flex;
  flex-direction: column-reverse;
  gap: $base-padding;
  justify-content: space-between;
  padding: $base-padding2X 0;

  @include breakpoint-md {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 1rem 0 2.75rem;
    //border-bottom: 0.1rem solid black;
  }

  h2 {
    margin: 0 auto;
  }

  nav {
    @include flex-row($base-font-size);
    flex-direction: row-reverse;
    font-size: $font-size-sm;
    ul {
      @include flex-row($base-padding);
      li:not(:last-child) {
        @include pillStyle($base-font-size, $color-green);

        @include breakpoint-md {
          font-size: 1.5rem;
        }
      }
      /* Styles for the li when its child a NavLink has the "active" class */
      li:has(a.active) {
        background-color: $color-green;
        color: white;
      }
    }

    @include breakpoint-md {
      @include flex-row($base-font-size);
      font-size: 1.5rem;
    }
  }
}

// NEW LEAGUE BTN
.create-league {
  /* position: fixed;
  bottom: 3vh;
  right: 5vw; */
  @include flex-row(0.5rem);
  @include pillStyleSolid($font-size-sm);
  padding-right: $base-padding;
  padding-left: $base-padding;
  box-shadow: $base-box-shadow;
}

@include breakpoint-md {
  .create-league {
    /*  position: relative;
    bottom: 2.5rem;
    right: 0; */
    @include flex-row(0.5rem);
    @include pillStyleSolid;
    padding-right: $base-padding;
    padding-left: $base-padding;
  }
}

// CURRENT LEAGUES
#current-leagues {
  @include flex-col($base-margin);

  @include breakpoint-md {
    @include flex-col(2rem);
  }

  #league-section-header {
    margin: 0 auto;
    padding: $base-padding 0;
    p {
      text-align: center;
      font-style: italic;
      font-weight: 400;
    }

    @include breakpoint-md {
      p {
        font-size: $base-font-size;
      }
    }
  }
}

/////// NEWWWWWW
.invisible {
  visibility: hidden;
}

#event-entry {
  border: solid 1px $color-darkgrey;
  border-radius: $base-border-radius2D;
  background-color: #f2f2f2;

  > header {
    margin: $base-padding 0.9rem;
    @include flex-row($base-padding);
    justify-content: space-between;
    cursor: pointer;

    @include breakpoint-md {
      @include flex-row;
      justify-content: space-between;
    }

    .event-details {
      @include flex-row($base-padding2X);

      h4 {
        font-size: 1.5rem;
        font-weight: 600;
      }

      button {
        @include editUnderline;
      }
    }

    > button {
      @include editButton;
      border: none;
    }
  }

  .event-info {
    @include flex-row(0.25rem);
    justify-content: flex-start;
    margin: $base-padding 0.8rem;

    .tooltip {
      position: absolute;
      top: 100%;
      left: 100%;
      transform: translateY(-55%);
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      padding: 1rem;
      border-radius: 5px;
      width: 400px;
    }

    p {
      font-weight: 600;
    }
  }

  .line {
    border-bottom: solid 1px $color-darkgrey;
  }

  #event-standings {
    @include flex-col(0);
    .event-table {
      margin: $base-padding 0.4rem;

      ul {
        gap: 0;
        font-family: var(--font-barlowSemi);
        text-align: center;

        .table-header {
          background-color: $color-darkGreen;
          color: white;
          font-family: var(--font-barlow);
          margin-bottom: 0.5rem;
          text-transform: uppercase;
          font-weight: 700;
          display: grid;
          grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
        }

        @include breakpoint-md {
          .table-header {
            display: grid;
            grid-template-columns: 7fr 1fr 1fr 1fr 1fr 1fr;
          }
        }

        li {
          display: grid;
          grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
          column-gap: $base-padding;
          span {
            text-align: center;
          }
        }

        .results span:nth-child(-n + 2) {
          text-align: left;
        }

        @include breakpoint-md {
          li {
            font-size: $base-font-size;
            grid-template-columns: 7fr 1fr 1fr 1fr 1fr 1fr;
            column-gap: $base-padding;
          }
        }

        .hide {
          display: none;
        }

        @include breakpoint-md {
          .hide {
            display: block;
          }
        }

        li:not(:first-child):hover {
          background-color: $color-highlight-green;
          cursor: default;
        }

        .even-row {
          background-color: #f2f2f2;
        }

        .odd-row {
          background-color: #ffffff;
        }

        button {
          margin: 0.25rem;
          @include editButton($color-olive);
        }
      }
    }

    .individualMatches-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;
      text-transform: uppercase;
      background-color: rgba(198, 246, 213, 0.5);
      padding: 0.5rem 0;
      color: $color-darkGreen;
    }

    .individual-matches {
      //background-color: $color-cream;
    }

    #match-reports-table {
      margin: 0.75rem 0.4rem;

      ul {
        gap: 0;
        li {
          font-family: var(--font-barlowSemi);
          display: grid;
          grid-template-columns: 4fr 1fr 4fr 2fr 1fr 1fr;
          line-height: 100%;
          padding: 0.25rem 0;
          column-gap: 0.25rem;
        }

        @include breakpoint-md {
          li {
            column-gap: $base-padding;
            align-items: center;
            font-size: 1.25rem;
          }
        }

        li :last-child,
        li :nth-last-child(2) {
          display: inline-block;
          text-align: center;
        }

        .md-header {
          background-color: $color-darkGreen;
          color: white;
          font-family: var(--font-barlow);
          margin-bottom: 0.5rem;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 100%;
          padding: 0.3rem 0;
        }

        .md-header :nth-child(-n + 3) {
          visibility: hidden;
        }

        @include breakpoint-md {
          .md-header {
            grid-template-columns: 4fr 1fr 4fr 2fr 1fr 1fr;
            column-gap: $base-padding;
          }
        }

        li:not(:first-child):hover {
          background-color: $color-highlight-green;
          cursor: default;
        }

        li.withdrawn:hover {
          background-color: $color-grey;
        }

        .even-row {
          background-color: #f2f2f2;
        }

        .odd-row {
          background-color: #ffffff;
        }
      }
    }

    @include breakpoint-md {
      #match-reports-table {
        margin: $base-padding 0.8rem;
      }
    }

    #challenger-matches {
      margin: 0.75rem 0.4rem;

      .standings-report {
        ul {
          gap: 0;

          li {
            font-family: var(--font-barlowSemi);
            display: grid;
            grid-template-columns: 5fr 1fr 5fr 3fr 1fr 1fr 1fr;
            line-height: 100%;
            padding: 0.3rem 0;
            column-gap: 0.25rem;
          }

          li:not(:first-child):hover {
            background-color: $color-highlight-green;
            cursor: default;
          }

          li :last-child,
          li :nth-last-child(2),
          li :nth-last-child(3) {
            display: inline-block;
            text-align: center;
          }

          @include breakpoint-md {
            li {
              font-size: 1.25rem;
            }
          }
          .md-header {
            background-color: $color-darkGreen;
            color: white;
            font-family: var(--font-barlow);
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            font-weight: 700;
            column-gap: 0.25rem;
          }

          .md-header > :nth-child(2),
          .md-header > :nth-child(3) {
            visibility: hidden;
          }

          .even-row {
            background-color: #f2f2f2;
          }

          .odd-row {
            background-color: #ffffff;
          }
        }
      }
    }
  }

  @include breakpoint-md {
    #event-standings {
      .event-table {
        margin: $base-padding 0.8rem;
      }
    }
  }

  .error {
    text-align: left;
  }

  .undone {
    font-weight: 600;
    text-decoration: underline;
    @include flex-row(0.25rem);
    color: $color-error;
  }

  .withdrawn {
    color: white;
    background-color: rgba(255, 0, 0, 0.15) !important;
  }
}
