@import "../Variables/Variables.scss";

.back-clubsite {
  display: inline-block;
}

.back-clubsite {
  font-family: Arial, Helvetica, sans-serif;
  // display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
  background-color: white;
}

.main-layout-client {
  width: 100%;
  max-width: 1432px;
  padding: 0 12px;
}

@include breakpoint-md {
  .main-layout-client {
    padding: 0 24px;
  }
}

.image-hero {
  width: 90%;
  height: 280px;
  background-image: url(../../../public/1.png);
  background-size: cover;
  border-radius: 24px;
  margin: -50px auto 50px;
  display: flex;
  z-index: 99;
}

@include breakpoint-md {
  .image-hero {
    height: 300px;
    margin: -75px auto 50px;
  }
}

@include breakpoint-xl {
  .image-hero {
    height: 500px;
    margin: -100px auto 50px;
  }
}

//CSS ROTATION- https://www.kirupa.com/animations/spinning_circular_text.htm
.rotateText {
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  font-size: 17px;
  fill: #111;
}

#rotatingText {
  animation-name: rotate-circle;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
//END CSS ROTATION

//RotatingText Component
.rotate-text {
  position: absolute;
  transform-origin: 0 104px; // 15% of the container height and width
  font-size: 1rem;
  line-height: 1rem;
  top: 0;
}
//END RotatingText Component

#rules {
  width: 95vw;
  display: flex;
  gap: 1rem;
  h2,
  p {
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    max-width: 720px;
    gap: $base-padding * 1.5;
    text-align: justify;
    li {
      list-style: none;
      line-height: $base-padding * 1.75;

      .bold {
        font-weight: 800;
      }
    }
  }
}

.link {
  color: #002fa7;
  text-decoration: underline;
}

footer {
  margin-top: 200px;
  padding-top: 80px;
  padding-bottom: 200px;
  background-color: $color-darkGreen;

  .baseline {
    background-color: white;
    height: 24px;
    display: flex;
  }

  .center-line {
    margin: 0 auto;
    background-color: white;
    height: 50px;
    width: 24px;
  }
}
