@import "../Variables/Variables.scss";

#leagues-layout-header {
  display: flex;
  flex-direction: column-reverse;
  gap: $base-padding;
  justify-content: space-between;
  padding: 0 0 1.5rem;

  @include breakpoint-md {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 2.5rem 0;
    //border-bottom: 0.1rem solid black;
  }

  h2 {
    margin: 0 auto;
  }

  #admin-secondary-navigation-leagues {
    nav {
      @include flex-row($base-font-size);
      flex-direction: row-reverse;
      font-size: $font-size-sm;
      ul {
        @include flex-row($base-padding);
        li:nth-child(1),
        li:nth-child(2) {
          @include pillStyle($base-font-size, $color-green);

          @include breakpoint-md {
            font-size: 1.2rem;
            padding: 0.7rem 1rem;
          }
        }

        .active {
          background-color: $color-brightGreen !important;
          pointer-events: none;
        }
      }

      @include breakpoint-md {
        @include flex-row($base-font-size);
        font-size: 1.5rem;
      }
    }
  }
}

#league-modal {
  border-radius: $base-border-radius;
  padding: $base-padding2X;
  margin-bottom: $base-padding2X;
  background-color: $color-modalgrey;
  border: solid 1px $color-blue;

  .edit-container {
    @include flex-col($base-padding);

    .control {
      @include flex-row;
      justify-content: space-between;

      h3 {
        font-size: $base-font-size;
      }

      > button {
        @include flex-row(0.25rem);

        &:hover {
          text-decoration: underline;
        }

        &.delete {
          color: $color-error;
          opacity: 45%;

          &:hover {
            opacity: 100%;
          }
        }

        &.exit {
          color: $color-olive;
        }
      }
    }

    form {
      @include flex-col($base-padding);
      align-items: center;

      @include breakpoint-md {
        @include flex-row(0.5rem);
        justify-content: left;
      }

      .input {
        @include flex-col(0);

        label {
          font-weight: 600;
        }

        input {
          padding: $base-padding $base-padding;
          border-radius: $base-border-radius2D;
        }
      }

      .checkbox {
        @include flex-row(0.5rem);
        font-size: $base-font-size;
        margin-right: 2rem;

        input[type="checkbox"] {
          width: 1.5em;
          height: 1.5em;
        }
      }

      > button {
        @include pillStyleSolid;

        @include breakpoint-md {
          align-self: flex-end;
        }
      }
    }
  }

  > button {
    margin-top: $base-margin;
    @include flex-row(0);
    color: $color-error;
    opacity: 45%;
    justify-content: flex-start;
    flex-basis: 0;

    &:hover {
      opacity: 100%;
    }
  }
}

// NEW LEAGUE BTN
.create-league {
  /* position: fixed;
  bottom: 3vh;
  right: 5vw; */
  @include flex-row(0.5rem);
  @include pillStyleSolid($font-size-sm);
  padding-right: $base-padding;
  padding-left: $base-padding;
  box-shadow: $base-box-shadow;
}

@include breakpoint-md {
  .create-league {
    /*  position: relative;
    bottom: 2.5rem;
    right: 0; */
    @include flex-row(0.5rem);
    @include pillStyleSolid;
    padding-right: $base-padding;
    padding-left: $base-padding;
  }
}

// CURRENT LEAGUES
#current-leagues {
  @include flex-col($base-margin);

  @include breakpoint-md {
    @include flex-col(2rem);
  }

  #league-section-header {
    margin: 0 auto;
    padding: $base-padding 0;
    p {
      text-align: center;
      font-style: italic;
      font-weight: 400;
    }

    @include breakpoint-md {
      p {
        font-size: $base-font-size;
      }
    }
  }
}

//LEAGUE ENTRY
#current-leagues-data {
  > ul {
    @include flex-col($base-padding2X);

    .text-highlight {
      @include flex-row($base-padding);
      padding: 0.05rem;
    }

    .league-single-entry {
      @include cardStyle;
      background-color: white;
      padding: 2.25rem;

      .league-info {
        @include flex-row;
        align-items: flex-start;
        justify-content: space-between;
        //padding-bottom: $base-padding2X;
        //border-bottom: solid $base-border-thickness $color-grey;

        .league-title {
          @include flex-row($base-padding2X);
          justify-content: left;
          padding-bottom: $base-padding;

          button {
            @include editUnderline;
          }
        }

        .league-stats {
          width: 50%;
          @include flex-row($base-padding);
          justify-content: right;
          margin-top: $base-margin;
          padding: 0.25rem;
          text-align: right;

          .days-left {
            font-weight: bold;
          }
        }

        @include breakpoint-md {
          p {
            font-size: $base-font-size;
          }

          .league-title {
            @include flex-row;
            justify-content: left;
          }
        }
      }
    }
  }
}
