@import "../Variables/Variables.scss";

#leagues-layout-header {
  display: flex;
  flex-direction: column-reverse;
  gap: $base-padding;
  justify-content: space-between;
  padding: $base-padding2X 0;

  @include breakpoint-md {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 0 0 2.75rem;
    //border-bottom: 0.1rem solid black;
  }

  h2 {
    margin: 0 auto;
  }

  nav {
    @include flex-row($base-font-size);
    flex-direction: row-reverse;
    font-size: $font-size-sm;
    ul {
      @include flex-row($base-padding);
      li:not(:last-child) {
        @include pillStyle($base-font-size, $color-green);

        @include breakpoint-md {
          font-size: 1.5rem;
        }
      }
      /* Styles for the li when its child a NavLink has the "active" class */
      li:has(a.active) {
        background-color: $color-green;
        color: white;
      }
    }

    @include breakpoint-md {
      @include flex-row($base-font-size);
      font-size: 1.5rem;
    }
  }
}

// NEW LEAGUE BTN
.create-league {
  /* position: fixed;
  bottom: 3vh;
  right: 5vw; */
  @include flex-row(0.5rem);
  @include pillStyleSolid($font-size-sm);
  padding-right: $base-padding;
  padding-left: $base-padding;
  box-shadow: $base-box-shadow;
}

@include breakpoint-md {
  .create-league {
    /*  position: relative;
    bottom: 2.5rem;
    right: 0; */
    @include flex-row(0.5rem);
    @include pillStyleSolid;
    padding-right: $base-padding;
    padding-left: $base-padding;
  }
}

// CURRENT LEAGUES
#current-leagues {
  @include flex-col($base-margin);

  @include breakpoint-md {
    @include flex-col(2rem);
  }

  #league-section-header {
    margin: 0 auto;
    padding: $base-padding 0;
    p {
      text-align: center;
      font-style: italic;
      font-weight: 400;
    }

    @include breakpoint-md {
      p {
        font-size: $base-font-size;
      }
    }
  }
}

//LEAGUE ENTRY
#current-leagues-data {
  > ul {
    @include flex-col($base-padding2X);

    .text-highlight {
      @include flex-row($base-padding);
      padding: 0.05rem;
    }

    .league-single-entry {
      @include cardStyle;
      background-color: white;
      padding: 2.25rem;

      .league-info {
        @include flex-row;
        align-items: flex-start;
        justify-content: space-between;
        //padding-bottom: $base-padding2X;
        //border-bottom: solid $base-border-thickness $color-grey;

        .league-title {
          @include flex-row($base-padding2X);
          justify-content: left;
          padding-bottom: $base-padding;

          button {
            @include editUnderline;
          }
        }

        .league-stats {
          width: 50%;
          @include flex-row($base-padding);
          justify-content: right;
          margin-top: $base-margin;
          padding: 0.25rem;
          text-align: right;

          .days-left {
            font-weight: bold;
          }
        }

        @include breakpoint-md {
          p {
            font-size: $base-font-size;
          }

          .league-title {
            @include flex-row;
            justify-content: left;
          }
        }
      }
    }
  }
  #events-section {
    padding-top: $base-padding2X;
    @include flex-col;

    .event-container {
      ul {
        @include flex-col(0.5rem);
      }
    }

    #event-modal {
      &.new {
        border-radius: $base-border-radius;
        padding: $base-padding2X;
        margin-bottom: $base-padding2X;
        background-color: $color-modalgrey;
        border: solid 1px $color-blue;
        box-shadow: $base-box-shadow;
      }

      &.edit {
        padding: $base-padding2X;
        border-radius: inherit;
        background-color: $color-modalgrey;
        box-shadow: $base-box-shadow;
      }

      .container {
        @include flex-col($base-padding);

        .control {
          @include flex-row;
          justify-content: space-between;

          h3 {
            font-size: $base-font-size;
          }

          > button {
            @include flex-row(0.25rem);

            &:hover {
              text-decoration: underline;
            }

            &.delete {
              color: $color-error;
              opacity: 45%;

              &:hover {
                opacity: 100%;
              }
            }

            &.exit {
              color: $color-olive;
            }
          }
        }

        form {
          fieldset {
            @include flex-col($base-padding);
            align-items: center;

            @include breakpoint-md {
              @include flex-row($base-padding);
              justify-content: left;
            }

            .input {
              @include flex-col(0);

              label {
                font-weight: 600;
              }

              input {
                padding: $base-padding $base-padding;
                border-radius: $base-border-radius2D;
              }
            }

            > button {
              @include pillStyleSolid;

              @include breakpoint-md {
                align-self: flex-end;
              }
            }
          }

          > button {
            margin-top: $base-margin;
            @include flex-row(0);
            color: $color-error;
            opacity: 45%;
            justify-content: flex-start;
            flex-basis: 0;

            &:hover {
              opacity: 100%;
            }
          }
        }
      }
    }

    > button {
      @include pillStyleSolid($font-size-sm, #336dff);
      align-self: flex-start;

      flex-basis: 0;
    }

    button {
      &.add-challenger {
        @include pillStyle;
        align-self: flex-start;
      }
    }
  }
}
