@import "../Variables/Variables.scss";

// Client Navbar component

body {
  background-color: whitesmoke;
}

h1 {
  font-size: 1.1rem;
}

#auth-navigation {
  background-color: $color-darkGreen;
  @include flex-col();
  color: white;
  gap: 1rem;
  padding: 2rem 1rem 1rem;
  align-items: center;

  @include breakpoint-md {
    // max-height: 7rem;
    @include flex-row();
    justify-content: space-between;
    //   width: 75rem;
    width: 100%;
    //max-width: 87.5rem;
    margin: 0 auto;
    padding: 0.8rem 24px 2rem;
  }

  ul {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;

    li {
      list-style: none;
    }
  }
}

#admin-header {
  // Admin Navbar components
  .logout-banner-admin {
    display: flex;
    gap: 1rem;
    font-size: $font-size-sm;
    color: white;
    font-weight: bold;
    background-color: $color-olive;
    padding: $base-padding 1rem;
    justify-content: center;

    @include breakpoint-md {
      font-size: $font-size-sm;
      justify-content: end;
    }

    span {
      font-size: $font-size-sm;
      font-weight: 400;
    }

    button {
      @include pillStyle($font-size-sm, white);
      @include flex-row(0.5rem);
      padding: 0 $base-padding;

      &:hover {
        color: $color-olive;
      }
    }
  }

  //ADMIN NAVIGATION
  #admin-primary-navigation {
    background-color: $color-darkGreen;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: $base-padding 1rem 0;

    @include breakpoint-md {
      font-size: $base-font-size;
      padding: 0 1rem;
      gap: 1rem;
      justify-content: flex-end;
      //width: 75rem;
      margin: 0 auto;
    }

    ul {
      @include flex-row(0);

      li {
        font-size: $base-font-size;
        color: white;
        opacity: 75%;
        padding: 0.4rem 0.8rem;
        border-top-left-radius: $base-font-size;
        border-top-right-radius: $base-font-size;
        transition: background-color 0.5s ease;

        @include breakpoint-md {
          font-size: 1.5rem;
          padding: 0.5rem 1.65rem 0.25rem;
        }
        &:hover {
          background-color: $color-brightGreen;
          color: $color-darkGreen;
        }
      }

      .active {
        opacity: 100%;
        background-color: whitesmoke;
        color: $color-darkGreen;
        transition: all 1s inline;
        pointer-events: none;
      }
    }

    @include breakpoint-xl {
      // width: 80rem; /* 1280px */
      margin: 0 auto;
    }
  }
}
