@import "../Variables/Variables.scss";

#players-page {
  padding: 2rem;

  header {
    display: grid;
    grid-template-columns: [first-column] 75% [second-column] 25%;
    grid-template-rows: [row1-start] 25% [row1-end] [row2-start] 25% [row2-end];
    margin-bottom: 2rem;

    p {
      font-size: $base-font-size;
    }

    .add-player-button {
      grid-column-start: second-column;

      @include flex-row(0.5rem);
      @include pillStyleSolid($font-size-sm);
      padding-right: $base-padding;
      padding-left: $base-padding;
      box-shadow: $base-box-shadow;
    }

    @include breakpoint-md {
      .add-player-button {
        justify-self: end;
        max-width: fit-content;
        @include flex-row(0.5rem);
        @include pillStyleSolid;
        padding: $base-padding $base-padding;
      }
    }

    .new-player-modal {
      margin: $base-padding2X 0;
      grid-column-start: first-column;
      grid-column-end: end;
      grid-row-start: row2-start;
      grid-row-end: row2-end;
      border-radius: $base-border-radius;
      padding: $base-padding2X;
      background-color: $color-modalgrey;
      border: solid 1px $color-blue;
      @include flex-col($base-padding);

      .controls {
        @include flex-row;
        justify-content: space-between;

        h3 {
          font-size: $base-font-size;
        }

        > button {
          @include flex-row(0.25rem);
        }
      }

      form {
        @include flex-col($base-padding);
        justify-content: flex-start;
        align-items: center;

        @include breakpoint-md {
          @include flex-row($base-padding);
          justify-content: flex-start;
          align-items: center;
        }

        .input {
          @include flex-col(0);

          label {
            font-weight: 600;
          }

          input {
            padding: $base-padding $base-padding2X;
            border-radius: $base-border-radius2D;
          }
        }

        button {
          @include pillStyleSolid;

          @include breakpoint-md {
            align-self: flex-end;
          }
        }
      }
    }
  }

  .players-list {
    li {
      display: grid;
      grid-template-columns: [first-column] 75% [second-column] 25%;
      grid-template-rows: [row1-start] 25% [row1-end] [row2-start] 25% [row2-end];
      padding-bottom: 0.25rem;

      #edit-player-modal {
        grid-column-start: first-column;
        grid-column-end: end;
        grid-row-start: row2-start;
        grid-row-end: row2-end;
        padding: 0.25rem 0.25rem 1rem 0;

        @include flex-row($base-padding);
        justify-content: space-between;

        .edit-form {
          @include flex-row($base-padding);
          align-items: space-between;
        }

        button {
          @include flex-row(0.25rem);

          &:hover {
            text-decoration: underline;
          }

          &.delete {
            color: $color-error;
            opacity: 45%;

            &:hover {
              opacity: 100%;
            }
          }

          &.exit {
            color: $color-olive;
          }
        }
      }
    }
    .even-row {
      background-color: #f2f2f2;
    }

    .odd-row {
      background-color: #ffffff;
    }

    li:hover {
      background-color: $color-highlight-yellow;
    }

    @include breakpoint-md {
      p {
        font-size: $base-font-size;
      }
    }
  }
}
