@import "../Variables/Variables.scss";

#teams-page {
  padding: 2rem;

  header {
    display: grid;
    grid-template-columns: [first-column] 75% [second-column] 25%;
    grid-template-rows: [row1-start] 25% [row1-end] [row2-start] 25% [row2-end];
    margin-bottom: 2rem;

    p {
      font-size: $base-font-size;
    }

    .create-team-button {
      grid-column-start: second-column;

      @include flex-row(0.5rem);
      @include pillStyleSolid($font-size-sm);
      padding-right: $base-padding;
      padding-left: $base-padding;
      box-shadow: $base-box-shadow;
    }

    @include breakpoint-md {
      .create-team-button {
        justify-self: end;
        max-width: fit-content;
        @include flex-row(0.5rem);
        @include pillStyleSolid;
        padding: $base-padding $base-padding;
      }
    }

    .new-team-modal {
      margin: $base-padding2X 0;
      grid-column-start: first-column;
      grid-column-end: end;
      grid-row-start: row2-start;
      grid-row-end: row2-end;
      border-radius: $base-border-radius;
      padding: $base-padding2X;
      background-color: $color-modalgrey;
      border: solid 1px $color-blue;
      @include flex-col($base-padding);

      .controls {
        @include flex-row;
        justify-content: space-between;

        h3 {
          font-size: $base-font-size;
        }

        .button {
          display: flex;
          align-items: center;
        }
      }

      .create-component {
        .team-creation {
          @include flex-col(0.5rem);
          margin: $base-padding 0.75rem $base-padding2X;
          padding: 0.75rem;
          background-color: whitesmoke;
          border-top: solid $color-darkgrey $base-border-thickness;
          border-bottom: solid $color-darkgrey $base-border-thickness;

          ul {
            margin: $base-padding 0;
            li {
              font-size: $base-font-size;
              @include flex-row(0.25rem);
              justify-content: flex-start;
              align-items: center;
              flex-wrap: wrap;

              .remove {
                cursor: pointer;
                opacity: 80%;
                font-size: $font-size-sm;
                color: $color-error;
                text-decoration: underline solid $base-border-thickness;

                @include breakpoint-md {
                  margin-left: 1rem;
                }
              }

              @include breakpoint-md {
                column-gap: $base-padding2X;
              }
            }
          }

          .error {
            text-align: left;
            font-size: $font-size-sm;
          }

          button {
            @include pillStyleSolid;
            align-self: flex-start;
          }
        }

        .form-new-team {
          @include flex-col($base-padding);
          justify-content: flex-start;
          align-items: center;

          @include breakpoint-md {
            @include flex-row($base-padding);
            justify-content: flex-start;
          }

          input {
            border-radius: $base-border-radius2D;
            @include input;
            font-size: $base-font-size;
            width: fit-content;
            padding-left: $base-padding;

            label {
              font-weight: 600;
            }
          }

          button {
            @include editButton($color-lightblue);
            @include flex-row(0.25rem);
            justify-content: left;
            font-size: $base-font-size;
            padding: 0.45rem;
          }

          .clear-search {
            button {
              margin-left: $base-padding;
              border-radius: 50%;
              padding: 0.3rem;
              border-color: $color-darkgrey;
              color: $color-darkgrey;
            }

            button:hover {
              background-color: $color-darkgrey;
              color: #ffffff;
            }
          }
        }

        .search-results {
          padding-top: $base-padding2X;
          ul {
            li {
              display: flex;
              padding-bottom: 0.25rem;
              gap: $base-padding2X;
            }

            .even-row {
              //background-color: #f2f2f2;
            }

            .odd-row {
              background-color: #ffffff;
            }

            li:hover {
              background-color: $color-green;
            }
          }
        }
      }
    }
  }

  .teams-list {
    li {
      @include flex-row($base-padding);
      justify-content: flex-start;

      flex-wrap: wrap;
      padding: 0.25rem;

      button {
        @include flex-row(0.25rem);

        &:hover {
          text-decoration: underline;
        }

        &.delete {
          color: $color-error;
          opacity: 45%;

          &:hover {
            opacity: 100%;
          }
        }

        &.exit {
          color: $color-olive;
        }
      }
    }
    .even-row {
      background-color: #f2f2f2;
    }

    .odd-row {
      background-color: #ffffff;
    }

    li:hover {
      background-color: $color-highlight-yellow;
    }

    @include breakpoint-md {
      li {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      p {
        font-size: $base-font-size;
      }
    }
  }
}
