@import "./Variables/Variables.scss";

// CLIENT NAVBAR COMPONENT
#web-header {
  padding: 0 1.5rem;
  color: $color-darkGreen;

  #client-navbar {
    margin: 0 24px;

    .navbar-wrapper {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      align-items: center;
      .navbar {
        grid-area: 1 / 1 / 2 / 2;
        display: none;
      }

      .H1 {
        text-align: center;
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        line-height: 100%;
      }

      @include breakpoint-md {
        .H1 {
          font-size: 2.25rem;
        }
      }
    }

    @include breakpoint-xl {
      .navbar-wrapper {
        .navbar {
          display: flex;
          flex-direction: column;

          ul {
            display: flex;
            gap: 1.5rem;
            font-size: 1rem;
            line-height: 1.5rem;

            li {
              list-style: none;
            }
          }
        }

        .H1 {
          text-wrap: nowrap;
        }
      }
    }

    .circumf {
      z-index: 1000;
      position: fixed;
      bottom: 150px;
      right: -30px;
      cursor: pointer;
      transition: all 1s ease;
    }

    @include breakpoint-md {
      .circumf {
        top: 0;
        right: 0;
      }
    }
    .circumf.bottom-position {
      top: auto; /* Reset top */
      bottom: 250px;
      right: 0px;
    }

    @include breakpoint-xl {
      .circumf {
        top: 35px;
        right: 30px;
        bottom: auto;
      }
    }
  }

  // ADMIN NAVBAR COMPONENT
  .logout-banner-admin {
    display: flex;
    gap: 1rem;
    font-size: $font-size-sm;
    color: white;
    font-weight: bold;
    background-color: $color-olive;
    padding: $base-padding 1rem;
    justify-content: center;

    @include breakpoint-md {
      font-size: $font-size-sm;
      justify-content: end;
    }

    span {
      font-size: $font-size-sm;
      font-weight: 400;
    }

    button {
      @include pillStyle($font-size-sm, white);
      @include flex-row(0.5rem);
      padding: 0 $base-padding;

      &:hover {
        color: $color-olive;
      }
    }
  }

  //ADMIN NAVIGATION
  #admin-primary-navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: $base-padding 1rem 0;

    @include breakpoint-md {
      font-size: $base-font-size;
      padding: 0 1rem;
      gap: 1rem;
      justify-content: flex-end;
      //width: 75rem;
      margin: 0 auto;
    }

    ul {
      @include flex-row($base-padding);

      li {
        font-size: $base-font-size;
        color: white;
        padding: 0.4rem 0.8rem;
        border-top-left-radius: $base-font-size;
        border-top-right-radius: $base-font-size;

        @include breakpoint-md {
          font-size: 1.5rem;
          padding: 0.5rem 1.65rem 0.25rem;
        }
        &:hover {
          background-color: $color-darkgreen;
        }
      }
    }

    @include breakpoint-xl {
      // width: 80rem; /* 1280px */
      margin: 0 auto;
    }
  }
}

//MAIN
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //max-width: 75rem; /* 1280px */
  margin: 0 auto;
  padding: 1.5rem 1rem;

  @include breakpoint-lg {
    // width: 80rem; /* 1280px */
    padding: 0 $base-padding2X;
  }
}

.fourofour {
  width: 100vw;
  height: 100vh;
  background-color: $color-darkGreen;
  padding: 0;
  overflow: hidden;

  .container {
    height: 100%;
    width: 100%;
    margin: 10% 0 0 0;
    border-top: 15vw solid white;
    padding: 0.5rem 0 0 0;
    h2 {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-size: 8rem;
      line-height: 100%;
      color: $color-brightGreen;
    }

    p {
      font-family: var(--font-barlow);
      font-weight: 600;
      color: white;
      padding-left: 5%;
      font-size: 2rem;
      line-height: 100%;
    }

    .back {
      text-transform: uppercase;
      font-size: 1.8rem;
      padding-right: 2rem;
      padding-top: 3rem;
      text-decoration: underline;
    }
  }

  @include breakpoint-md {
    .container {
      margin: 0 0 0 5%;
      padding: 0 0 0 1rem;
      border-top: 0;
      border-left: 8vw solid white;

      h2 {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 18rem;
        color: $color-brightGreen;
      }

      p {
        padding: 0 0 0 2rem;
        font-size: 2.8rem;
      }
    }
  }
}

.loading {
  text-align: center;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

.blue-underline {
  color: $color-lightblue;
  text-decoration: underline solid $base-border-thickness;
}
