@import "./Variables/Variables.scss";

// Client Navbar component

#web-header {
  background-color: $color-darkGreen;
  padding: 2.5rem 1.5rem;
 
  // Admin Navbar components
  .logout-banner-admin {
    display: flex;
    gap: 1rem;
    font-size: $font-size-sm;
    color: white;
    font-weight: bold;
    background-color: $color-olive;
    padding: $base-padding 1rem;
    justify-content: center;

    @include breakpoint-md {
      font-size: $font-size-sm;
      justify-content: end;
    }

    span {
      font-size: $font-size-sm;
      font-weight: 400;
    }

    button {
      @include pillStyle($font-size-sm, white);
      @include flex-row(0.5rem);
      padding: 0 $base-padding;

      &:hover {
        color: $color-olive;
      }
    }
  }

  #primary-navigation {
    color: $color-cream;
    display: grid;
    gap: 1rem;
    grid-template-columns: 320px 1fr 320px;
    grid-auto-columns: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;


    @include breakpoint-xl {
      // max-height: 7rem;
      @include flex-row();
      justify-content: space-between;

      width: 100%;
     max-width: 87.5rem;
      margin: 0 auto;
    }

    ul {
      display: flex;
      gap: 1.5rem;
      font-size: 1rem;
      line-height: 1.5rem;

      li {
        list-style: none;
      }
    }

    .header-item{
      display: flex;
      width: 100%;
    }

    .header-item:nth-child(2) {
      justify-content: center;
    }

    .header-item:nth-child(3) {
      justify-content: right;
    }
  }

  //ADMIN NAVIGATION
  #admin-primary-navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: $base-padding 1rem 0;

    @include breakpoint-md {
      font-size: $base-font-size;
      padding: 0 1rem;
      gap: 1rem;
      justify-content: flex-end;
      //width: 75rem;
      margin: 0 auto;
    }

    ul {
      @include flex-row($base-padding);

      li {
        font-size: $base-font-size;
        color: white;
        padding: 0.4rem 0.8rem;
        border-top-left-radius: $base-font-size;
        border-top-right-radius: $base-font-size;

        @include breakpoint-md {
          font-size: 1.5rem;
          padding: 0.5rem 1.65rem 0.25rem;
        }
        &:hover {
          background-color: $color-darkgreen;
        }
      }
    }

    @include breakpoint-xl {
      // width: 80rem; /* 1280px */
      margin: 0 auto;
    }
  }
}

//MAIN
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75rem; /* 1280px */
  margin: 0 auto;
  padding: 1.5rem 1rem;

  @include breakpoint-lg {
    // width: 80rem; /* 1280px */
    padding: 1.5rem $base-padding2X;
  }
}

.loading {
  text-align: center;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

.blue-underline {
  color: $color-lightblue;
  text-decoration: underline solid $base-border-thickness;
}
